.row-layoutFour{
    width: 100%;
    div.card{
        width: auto;
    .card-img-top{
        aspect-ratio: 16/11;
        
        }
        .bi{
            color: #c48ef9;
            position: absolute;
            margin-left: 40%;
            margin-top: -4rem;
        
          }
        }
}